.container {
    display: grid;
    grid-template-columns: repeat(9,55px);
}

.sudokuBox {
    position: relative;
    height: 50px;
    width: 50px;
}

.numInput {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    border: 3px solid black;
    text-align: center;
    font-size: 2rem;
}

#submit {
    margin-top: 25px;
    width: 250px;
}